<!-- start: container -->
<div class="container" style="margin-top:4%;">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
      <div class="text-center">
        <h1 class="fw-sb mb-sm fs-36">Whooopss!</h1>
        <h4 class="text-muted">
          <p style="line-height:1.5;">Unfortunately, the page you were looking for could not be found. It may be temporarily unavailable, moved or no longer exists</p>
        </h4>
      </div>
      <div class="text-center pa-md mb-lg">
        <img src="assets/images/vector/vector2.png" alt="" width="65%">
      </div>
      <div class="text-center">
      <a ui-sref="default.app.dashboard" class="btn btn-primary"><span class="sli sli-action-undo mr-xs"></span> Return To Dashboard</a>
      </div>
    </div>
  </div>
</div>
<!--/ end: container -->