<!-- start: box layout -->
<div class="box-layout">
  <!-- left section -->
  <div class="col-sm-9 bg-auto bdr-r height-auto">
    <!-- header -->
    <div class="bg-picture" style="background-image:url('assets/images/background/src/background2.jpg')">
      <span class="bg-picture-overlay"></span><!-- overlay -->
      <!-- meta -->
      <div class="box-layout meta bottom pa-md">
        <div class="col-sm-6 va-m clearfix">
          <span class="img-wrapper img-rounded pull-left mr-md"><img src="assets/images/avatar/avatar12.jpg" alt="" style="width:64px"></span>
          <div class="media-body">
            <h3 class="text-white fw-sb mb-2 mt-sm ellipsis">Drake Mcdonald</h3>
            <h5 class="text-white"><span class="sli sli-pointer"></span> French Polynesia</h5>
          </div>
        </div>
        <div class="col-sm-6 va-m">
          <div class="btn-group pull-right hidden-xs" dropdown>
            <a href="" class="btn btn-success dropdown-toggle"><span class="fa fa-check mr-xs"></span> FOLLOWING <span class="caret ml-xs"></span></a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="javascript:void(0);">Poke</a></li>
              <li><a href="javascript:void(0);">Private message</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0);">Unfollow</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--/ meta -->
    </div>
    <!--/ header -->

    <!-- navigation -->
    <div class="pa-md bg-white bdr-b">
      <ul class="nav nav-pills">
        <li class="active"><a href="">Profile</a></li>
        <li><a href="">Portfolio</a></li>
        <li><a href="">Activity</a></li>
      </ul>
    </div>
    <!-- navigation -->

    <!-- container fluid -->
    <div class="container-fluid pt-md pb-md">
      <!-- form -->
      <form class="panel">
        <textarea class="form-control input-lg no-focus bdr-w-0" rows="3" placeholder="Write something..."></textarea>
        <div class="panel-body bdr-t">
          <div class="btn-group">
            <a href="" class="btn btn-default"><span class="ai ai-my-location fs-16 pos-t-2"></span></a>
            <a href="" class="btn btn-default"><span class="ai ai-account-circle fs-16 pos-t-2"></span></a>
            <a href="" class="btn btn-default"><span class="ai ai-alarm fs-16 pos-t-2"></span></a>
            <a href="" class="btn btn-default"><span class="ai ai-my-library-mus fs-16 pos-t-2"></span></a>
          </div>
          <a href="" class="btn btn-primary pull-right-sm" data-ng-class="{'mt-xs':viewport.xs}">Post Message</a>
        </div>
      </form>
      <!--/ form -->

      <!-- row -->
      <div class="row">
        <!-- 1/2 -->
        <div class="col-md-6">
          <!-- post #1 -->
          <div class="panel">
            <div class="media">
              <a href="" class="media-left media-middle">
                <span class="img-wrapper img-rounded">
                  <img src="assets/images/avatar/avatar11.jpg">
                </span>
              </a>
              <div class="media-body media-middle">
                <h5 class="media-heading nm fw-sb"><a href="">Noelani Crane</a></h5>
                <p class="text-muted nm">Wrote - Yesterday 12:20 PM</p>
              </div>
            </div>
            <div class="panel-body bdr-b">
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.</p>
            </div>
            <div class="panel-body bdr-b">
              <a href="" class="btn btn-default"><span class="ai ai-share fs-16 pos-t-2"></span></a>
              <a href="" class="btn btn-default"><span class="ai ai-star-outline fs-16 pos-t-2"></span></a>
            </div>
            <!-- comment box -->
            <div class="bg-gray-50">
              <div class="pa-md" data-ng-show="!commentBox1">
                <a href="" class="form-control text-muted" data-ng-click="commentBox1 = !commentBox1">Add a comment...</a>
              </div>
              <div class="media" data-ng-show="commentBox1">
                <a href="" class="media-left">
                  <span class="img-wrapper img-rounded">
                    <img src="assets/images/avatar/avatar2.jpg">
                  </span>
                </a>
                <div class="media-body" style="width:100%;">
                  <textarea class="form-control mb-sm" rows="3"></textarea>
                  <a href="" class="btn btn-success">Post comment</a>
                  <a href="" class="btn btn-default" data-ng-click="commentBox1 = !commentBox1">Cancel</a>
                </div>
              </div>
            </div>
            <!--/ comment box -->
          </div>
          <!--/ post #1 -->

          <!-- post #2 -->
          <div class="panel">
            <div class="media">
              <a href="" class="media-left media-middle">
                <span class="img-wrapper img-rounded">
                  <img src="assets/images/avatar/avatar7.jpg">
                </span>
              </a>
              <div class="media-body media-middle">
                <h5 class="media-heading nm fw-sb"><a href="">Phillip Byers</a></h5>
                <p class="text-muted nm">Share a video - Yesterday 2:20 PM</p>
              </div>
            </div>
            <div class="bdr-b">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/_OLQ55e0m40"></iframe>
              </div>
            </div>
            <div class="panel-body clearfix bdr-b">
              <a href="" class="btn btn-default"><span class="ai ai-share fs-16 pos-t-2"></span></a>
              <a href="" class="btn btn-default"><span class="ai ai-star-outline fs-16 pos-t-2"></span></a>
              <!-- avatar -->
              <span class="img-wrapper img-rounded pull-right"><img class="media-object" src="assets/images/avatar/avatar3.jpg" style="width:34px;"></span>
              <span class="img-wrapper img-rounded pull-right"><img class="media-object" src="assets/images/avatar/avatar9.jpg" style="width:34px;"></span>
              <span class="img-wrapper img-rounded pull-right"><img class="media-object" src="assets/images/avatar/avatar14.jpg" style="width:34px;"></span>
              <!--/ avatar -->
            </div>
            <!-- comment list -->
            <div class="bg-gray-50 bdr-b">
              <ul class="media-list nm">
                <li class="media">
                  <a href="" class="media-left pt-xs">
                    <span class="img-wrapper img-rounded">
                      <img src="assets/images/avatar/avatar4.jpg">
                    </span>
                  </a>
                  <div class="media-body">
                    <span class="fs-12 text-muted pull-right">10 minute ago</span>
                    <h5 class="media-heading mb-2 fw-sb"><a href="">Damon George</a></h5>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></p>
                  </div>
                </li>
                <li class="media">
                  <a href="" class="media-left pt-xs">
                    <span class="img-wrapper img-rounded">
                      <img src="assets/images/avatar/avatar5.jpg">
                    </span>
                  </a>
                  <div class="media-body">
                    <span class="fs-12 text-muted pull-right">1 minute ago</span>
                    <h5 class="media-heading mb-2 fw-sb"><a href="">Calista Rocha</a></h5>
                    <p class="mb-0">Excepteur sint occaecat cupidatat officia deserunt mollit anim id est laborum.</span></p>
                  </div>
                </li>
              </ul>
            </div>
            <!--/ comment list -->

            <!-- comment box -->
            <div class="bg-gray-50">
              <div class="pa-md" data-ng-show="!commentBox2">
                <a href="" class="form-control text-muted" data-ng-click="commentBox2 = !commentBox2">Add a comment...</a>
              </div>
              <div class="media" data-ng-show="commentBox2">
                <a href="" class="media-left">
                  <span class="img-wrapper img-rounded">
                    <img src="assets/images/avatar/avatar2.jpg">
                  </span>
                </a>
                <div class="media-body" style="width:100%;">
                  <textarea class="form-control mb-sm" rows="3"></textarea>
                  <a href="" class="btn btn-success">Post comment</a>
                  <a href="" class="btn btn-default" data-ng-click="commentBox2 = !commentBox2">Cancel</a>
                </div>
              </div>
            </div>
            <!--/ comment box -->
          </div>
          <!--/ post #2 -->
        </div>
        <!--/ 1/2 -->

        <!-- 2/2 -->
        <div class="col-md-6">
          <!-- post #1 -->
          <div class="panel">
            <div class="media">
              <a href="" class="media-left media-middle">
                <span class="img-wrapper img-rounded">
                  <img src="assets/images/avatar/avatar2.jpg">
                </span>
              </a>
              <div class="media-body media-middle">
                <h5 class="media-heading nm fw-sb"><a href="">Jarrod Gonzalez</a></h5>
                <p class="text-muted nm">Share location - Yesterday 1:20 AM</p>
              </div>
            </div>
            <div class="bdr-b">
              <img src="http://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=400x200&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284&sensor=false" alt="Cover" width="100%">
            </div>
            <div class="panel-body clearfix bdr-b">
              <a href="" class="btn btn-default"><span class="ai ai-share fs-16 pos-t-2"></span></a>
              <a href="" class="btn btn-default"><span class="ai ai-star-outline fs-16 pos-t-2"></span></a>
              <!-- avatar -->
              <span class="img-wrapper img-rounded pull-right"><img class="media-object" src="assets/images/avatar/avatar9.jpg" style="width:34px;"></span>
              <span class="img-wrapper img-rounded pull-right"><img class="media-object" src="assets/images/avatar/avatar3.jpg" style="width:34px;"></span>
              <span class="img-wrapper img-rounded pull-right"><img class="media-object" src="assets/images/avatar/avatar8.jpg" style="width:34px;"></span>
              <!--/ avatar -->
            </div>
            <!-- comment box -->
            <div class="bg-gray-50">
              <div class="pa-md" data-ng-show="!commentBox3">
                <a href="" class="form-control text-muted" data-ng-click="commentBox3 = !commentBox3">Add a comment...</a>
              </div>
              <div class="media" data-ng-show="commentBox3">
                <a href="" class="media-left">
                  <span class="img-wrapper img-rounded">
                    <img src="assets/images/avatar/avatar2.jpg">
                  </span>
                </a>
                <div class="media-body" style="width:100%;">
                  <textarea class="form-control mb-sm" rows="3"></textarea>
                  <a href="" class="btn btn-success">Post comment</a>
                  <a href="" class="btn btn-default" data-ng-click="commentBox3 = !commentBox3">Cancel</a>
                </div>
              </div>
            </div>
            <!--/ comment box -->
          </div>
          <!--/ post #1 -->

          <!-- post #2 -->
          <div class="panel">
            <div class="media">
              <a href="" class="media-left media-middle">
                <span class="img-wrapper img-rounded">
                  <img src="assets/images/avatar/avatar16.jpg">
                </span>
              </a>
              <div class="media-body media-middle">
                <h5 class="media-heading nm fw-sb"><a href="">Jerome Rosa</a></h5>
                <p class="text-muted nm">Shared publicly - Yesterday 5:20 PM</p>
              </div>
            </div>
            <div class="panel-body bdr-b">
              <a href="http://tutorialzine.com/2014/09/cute-file-browser-jquery-ajax-php/" target="new" class="text-info">http://tutorialzine.com/2014/09/cute-file-browser-jquery-ajax-php/</a>
            </div>
            <div class="bdr-b">
              <img src="assets/images//misc/misc1.jpg" alt="" width="100%">
            </div>
            <div class="panel-body bdr-b">
              <a href="" class="btn btn-default"><span class="ai ai-share fs-16 pos-t-2"></span></a>
              <a href="" class="btn btn-default"><span class="ai ai-star-outline fs-16 pos-t-2"></span></a>
            </div>
            <!-- comment box -->
            <div class="bg-gray-50">
              <div class="pa-md" data-ng-show="!commentBox4">
                <a href="" class="form-control text-muted" data-ng-click="commentBox4 = !commentBox4">Add a comment...</a>
              </div>
              <div class="media" data-ng-show="commentBox4">
                <a href="" class="media-left">
                  <span class="img-wrapper img-rounded">
                    <img src="assets/images/avatar/avatar2.jpg">
                  </span>
                </a>
                <div class="media-body" style="width:100%;">
                  <textarea class="form-control mb-sm" rows="3"></textarea>
                  <a href="" class="btn btn-success">Post comment</a>
                  <a href="" class="btn btn-default" data-ng-click="commentBox4 = !commentBox4">Cancel</a>
                </div>
              </div>
            </div>
            <!--/ comment box -->
          </div>
          <!--/ post #2 -->
        </div>
        <!--/ 2/2 -->
      </div>
      <!--/ row -->
    </div>
    <!--/ container fluid -->
  </div>
  <!--/ left section -->

  <!-- right section -->
  <div class="col-sm-3 bg-white bdr-t-xs height-auto">
    <!-- about -->
    <div class="pa-md">
      <h4 class="mb-md">About</h4>
      <ul class="list-unstyled mb-sm">
        <li><span class="ai ai-class fs-16 pos-t-2 text-muted mr-xs"></span> UI/UX Designer</li>
        <li><span class="ai ai-description fs-16 text-muted pos-t-2 mr-xs"></span> Studied interface design</li>
        <li><span class="ai ai-my-location fs-16 text-muted pos-t-2 mr-xs"></span> Lives in French Polynesia</li>
      </ul>
      <address class="nm">
        <p class="fw-sb nm">Address</p>
        795 Folsom Ave, Suite 600<br>
        San Francisco, CA 94107<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
    <!--/ about -->

    <!-- skills -->
    <div class="pa-md">
      <h4 class="mb-md">Skills</h4>
      <span class="label label-default mb-xs">ASP</span>
      <span class="label label-default mb-xs">JAVASCRIPT</span>
      <span class="label label-default mb-xs">ANGULAR</span>
      <span class="label label-default mb-xs">HTML5</span>
      <span class="label label-default mb-xs">CSS3</span>
      <span class="label label-default mb-xs">MOBILE</span>
      <span class="label label-default mb-xs">IOS8</span>
      <span class="label label-default mb-xs">ANDROID</span>
      <span class="label label-default mb-xs">PHP</span>
      <span class="label label-default mb-xs">PYTHON</span>
    </div>
    <!--/ skills -->

    <!-- contact -->
    <div class="pa-md">
      <h4>Friends</h4>
    </div>
    <!-- scrollable container -->
    <div class="scroll-content" style="height:240px;" slim-scroll="{height:'240px'}" data-ng-controller="contactListCtrl">
      <ul class="media-list mb-0" data-ng-repeat="contact in count = (contacts | filter:{group:'friends'})">
        <li class="media media-sm bdr-w-0 pb-0" data-ng-repeat="list in contact.list">
          <a href="" class="media-left media-middle">
            <span class="img-wrapper img-rounded">
              <img data-ng-src="assets/images/avatar/{{list.avatar}}.jpg">
            </span>
          </a>
          <div class="media-body media-middle">
            <h5 class="media-heading mb-2 fw-sb">
              <a href=""><span data-ng-init="color = (config.status | filter:{name:list.status})" class="bullet bullet-{{color[0].color}} mnt-1"></span> {{list.name}}</a>
            </h5>
            <p class="mb-0">{{list.country}}</p>
          </div>
        </li>
      </ul>
    </div>
    <!-- scrollable container -->
    <!--/ contact -->
  </div>
  <!--/ right section -->
</div>
<!--/ end: box layout -->