<!-- start: basic info form -->
<form name="formWizard" novalidate ng-submit="$state.go('default.form.wizard.medical')"><!-- replace ng-submit expression with your controller logic -->
  <div class="form-group mb-0" ng-class="{ 'has-error': formWizard.name.$dirty && formWizard.name.$invalid }">
    <label class="control-label">Name <span class="text-danger">*</span></label>
    <input type="text" class="form-control" placeholder="Your name" name="name" ng-model="name" required>
    <p class="help-block text-danger fs-12 mb-0" ng-show="formWizard.name.$dirty && formWizard.name.$invalid">- Fill in your name</p>
  </div>
  <hr class="mnr-md mnl-md"><!-- horizontal line -->

  <div class="form-group mb-0">
    <label class="control-label">Address</label>
    <div class="row mb-xs">
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="Street Address" name="streetAddress">
      </div>
    </div>
    <div class="row mb-xs">
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="Address Line 2" name="addressLine2">
      </div>
    </div>
    <div class="row mb-xs">
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="City" name="city">
      </div>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="State / Province / Region" name="state">
      </div>
    </div>
    <div class="row mb-xs">
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Postal / Zip Code" name="zipCode">
      </div>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Country" name="country">
      </div>
    </div>
  </div>
  <hr class="mnr-md mnl-md"><!-- horizontal line -->

  <div class="form-group mb-0" ng-class="{ 'has-error': formWizard.email.$dirty && formWizard.email.$invalid }">
    <label class="control-label">Email <span class="text-danger">*</span></label>
    <div class="row">
      <div class="col-sm-8">
        <input type="email" class="form-control" placeholder="you@mail.com" name="email" ng-model="email" required>
      </div>
    </div>
    <p class="help-block text-danger fs-12 mb-0" ng-show="formWizard.email.$dirty && formWizard.email.$error.required">- Fill in your email address</p>
    <p class="help-block text-danger fs-12 mb-0" ng-show="formWizard.email.$dirty && formWizard.email.$error.email">- You've entered invalid email address</p>
  </div>
  <hr class="mnr-md mnl-md"><!-- horizontal line -->

  <div class="form-group mb-0" ng-class="{ 'has-error': formWizard.phoneNumber.$dirty && formWizard.phoneNumber.$invalid }">
    <label class="control-label">Phone Number <span class="text-danger">*</span></label>
    <div class="row">
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="999-999-9999" name="phoneNumber" ng-model="phone.number" ng-pattern="/(^([0-9\(\)\/\+ \-]*)$)/" required>
      </div>
    </div>
    <p class="help-block text-danger fs-12 mb-0" ng-show="formWizard.phoneNumber.$dirty && formWizard.phoneNumber.$error.required">- Fill in your phone number</p>
    <p class="help-block text-danger fs-12 mb-0" ng-show="formWizard.phoneNumber.$dirty && formWizard.phoneNumber.$error.pattern">- You've entered invalid phone number</p>
  </div>
  <hr class="mnr-md mnl-md"><!-- horizontal line -->

  <div class="form-group mb-0">
    <label class="control-label">Will you be staying overnight?</label>
    <div class="radio custom-primary">
      <label>
        <input type="radio" name="shelter" value="1" checked>
        <span></span> Yes - Provide me some shelter
      </label>
    </div>
    <div class="radio custom-primary">
      <label>
        <input type="radio" name="shelter" value="0">
        <span></span> No - Do not provide shelter
      </label>
    </div>
  </div>
  <hr class="mnr-md mnl-md"><!-- horizontal line -->

  <!-- Buttons -->
  <div class="clearfix">
    <button type="submit" class="btn btn-primary pull-right" ng-disabled="formWizard.$invalid">Proceed <span class="fa fa-long-arrow-right"></span></button>
  </div>
  <!--/ Buttons -->
</form>
<!--/ end: basic info form -->