<!-- start: page header -->
<div class="page-header">
  <div class="box-layout">
    <div class="col-sm-6 va-m">
      <h3>Widgets</h3>
    </div>
    <div class="col-sm-6 va-m">
      <ol class="breadcrumb pull-right-sm mb-0">
        <li><a href="#">UI Elements</a></li>
        <li class="active">Widgets</li>
      </ol>
    </div>
  </div>
</div>
<!--/ end: page header -->

<!-- start: container fluid -->
<div class="container-fluid pt-md">
  <div class="row">
    <!-- profile widget #1 -->
    <div class="col-sm-6 col-md-3">
      <div class="panel">
        <div class="panel-heading">
          <a href="" class="btn btn-sm btn-default mnl-xs mt-sm"><span class="fa fa-check"></span></a>
          <a href="" class="btn btn-sm btn-default pull-right mnl-xs mt-sm" data-ng-click="isToggle = !isToggle"><span class="fa fa-bell" data-ng-class="{'fa-bell-slash':isToggle}"></span></a>
        </div>
        <div class="panel-body text-center">
          <div class="img-wrapper img-rounded center-block mb-md" style="width:76px;">
            <img src="assets/images/avatar/avatar1.jpg" alt="">
          </div>
          <h4 class="fw-sb">John Mayers</h4>
          <p class="text-muted mb-0">Graphic Designer</p>
          <hr style="width:20%">

          <a href="" class="fs-18 text-danger mr-sm"><span class="fa fa-dribbble"></span></a>
          <a href="" class="fs-18 text-primary mr-sm"><span class="fa fa-facebook"></span></a>
          <a href="" class="fs-18 text-info"><span class="fa fa-twitter "></span></a>
        </div>
      </div>
    </div>
    <!--/ profile widget #1 -->

    <!-- survey widget -->
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <div class="panel-title pull-left mt-2">
            <h5 class="fw-sb">Big Data Survey</h5>
            <h6 class="mb-0">Help us now...</h6>
          </div>
          <div class="text-right pull-right">
            <a href="" class="btn btn-link text-white pr-0 pl-0"><span class="ai ai-play-arrow fs-16 pos-t-1"></span></a>
          </div>
        </div>
        <div class="panel-body bdr-b">
          <span class="text-muted">IMAGE AND MULTIPLE QUESTION</span>
        </div>
        <div class="panel-body text-center pt-lg pb-lg">
          <h1 class="fw-sb">100+</h1>
          <p class="text-primary mb-0">respondand since</p>
          <p class="text-muted mb-0">October 1st, 2013</p>
        </div>
        <div class="panel-footer text-center">
          <a href="" class="btn btn-link text-muted"><span class="ai ai-remove-red-eye fs-16 pos-t-2"></span></a>
          <a href="" class="btn btn-link text-muted"><span class="ai ai-today fs-16 pos-t-2"></span></a>
          <a href="" class="btn btn-link text-muted"><span class="ai ai-hearing fs-16 pos-t-2"></span></a>
        </div>
      </div>
    </div>
    <!--/ survey widget -->

    <!-- profile widget #2 -->
    <div class="col-sm-6 col-md-3">
      <div class="panel">
        <div class="panel-body text-center">
          <div class="img-wrapper img-rounded center-block mt-lg mb-md" style="width:76px;">
            <img src="assets/images/avatar/avatar3.jpg" alt="">
            </div>
          <h4 class="fw-sb">Lesley Stephenson</h4>
          <p class="text-muted mb-0">dolor@nequevitaesemper.ca</p>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio <span class="label label-primary pull-right">16</span></li>
          <li class="list-group-item">Dapibus ac facilisis in <span class="label label-success pull-right">20</span></li>
          <li class="list-group-item">Morbi leo risus <span class="label label-danger pull-right">1+</span></li>
        </ul>
      </div>
    </div>
    <!--/ profile widget #2 -->

    <!-- profile widget #3 -->
    <div class="col-sm-6 col-md-3">
      <div class="panel">
        <div class="panel-body">
          <div class="media np">
            <div class="media-left">
              <span class="img-wrapper img-rounded">
                <img src="assets/images/avatar/avatar9.jpg">
              </span>
            </div>
            <div class="media-body media-middle">
              <h5 class="media-heading mb-0 fw-sb"><a href="">New Specifications</a></h5>
            </div>
          </div>
        </div>
        <div class="bdr-t bdr-b pa-md">
          <span class="fw-sb text-muted">Project: </span> Marketing Materials
        </div>
        <div class="panel-body">
          <blockquote class="mb-0"><p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut..</p></blockquote>
        </div>
      </div>
    </div>
    <!--/ profile widget #3 -->
  </div>

  <div class="row">
    <!-- question widget -->
    <div class="col-sm-6 col-md-6">
      <div class="panel box-layout ovf-h">
        <div class="col-md-4 bdr-r-md va-m bg-picture" style="background-image:url('assets/images/background/dashboard-chart-bg.jpg');"></div>
        <div class="col-md-4 va-m">
          <div class="pa-md">
            <div class="media np">
              <div class="media-left">
                <span class="img-wrapper img-rounded">
                  <img src="assets/images/avatar/avatar4.jpg">
                </span>
              </div>
              <div class="media-body media-middle">
                <h5 class="media-heading mb-0 fw-sb"><a href="">Connection Problem.</a></h5>
                <p class="mb-0">By <span class="text-muted">Davis Small</span></p>
              </div>
            </div>
          </div>
          <div class="pa-md">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </div>
          <div class="pa-md">
            <input type="text" class="form-control input-lg" placeholder="Add your comment">
          </div>
        </div>
      </div>
    </div>
    <!--/ question widget -->

    <!-- grid widget -->
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title text-center">
            <h5 class="fw-sb">My Settings</h5>
          </div>
        </div>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="text-center">
                <div class="pa-md">
                  <a href="" class="text-danger"><span class="fa fa-dribbble fs-32"></span></a>
                </div>
              </td>
              <td class="text-center">
                <div class="pa-md">
                  <a href="" class="text-info"><span class="fa fa-twitter fs-32"></span></a>
                </div>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <div class="pa-md">
                  <a href="" class="text-primary"><span class="fa fa-tumblr fs-32"></span></a>
                </div>
              </td>
              <td class="text-center">
                <div class="pa-md">
                  <a href="" class="text-success"><span class="fa fa-git fs-32"></span></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="fa fa-signal mr-md"></span>Signal
            <label class="switch switch-sm switch-success pull-right">
              <input type="checkbox">
              <span class="switch"></span>
            </label>
          </li>
          <li class="list-group-item">
            <span class="fa fa-volume-up mr-md"></span>Earphone
            <label class="switch switch-sm switch-success pull-right">
              <input type="checkbox">
              <span class="switch"></span>
            </label>
          </li>
          <li class="list-group-item">
            <span class="fa fa-location-arrow mr-md"></span>Location
            <label class="switch switch-sm switch-success pull-right">
              <input type="checkbox" checked="">
              <span class="switch"></span>
            </label>
          </li>
          <li class="list-group-item">
            <span class="fa fa-rebel mr-md"></span>Ghost mode
            <label class="switch switch-sm switch-success pull-right">
              <input type="checkbox">
              <span class="switch"></span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <!--/ grid widget -->

     <!-- reservation widget -->
    <div class="col-sm-6 col-md-3">
      <div class="panel">
        <div class="panel-body text-center">
          <span class="fa fa-flask fs-38 mb-md"></span>
          <h3 class="fw-t">Chemistry Club</h3>
        </div>
        <div class="panel-body text-center">
          <p class="mb-xs">
            <span class="img-wrapper img-rounded disp-ib" style="width:36px"><img src="assets/images/avatar/avatar1.jpg" alt=""></span>
            <span class="img-wrapper img-rounded disp-ib" style="width:36px"><img src="assets/images/avatar/avatar2.jpg" alt=""></span>
            <span class="img-wrapper img-rounded disp-ib" style="width:36px"><img src="assets/images/avatar/avatar3.jpg" alt=""></span>
            <span class="img-wrapper img-rounded disp-ib" style="width:36px"><img src="assets/images/avatar/avatar4.jpg" alt=""></span>
          </p>
          <p class="mb-0">
            <span class="img-wrapper img-rounded disp-ib" style="width:36px"><img src="assets/images/avatar/avatar5.jpg" alt=""></span>
            <span class="img-wrapper img-rounded disp-ib" style="width:36px"><img src="assets/images/avatar/avatar6.jpg" alt=""></span>
            <span class="img-wrapper img-rounded disp-ib" style="width:36px"><img src="assets/images/avatar/avatar7.jpg" alt=""></span>
            <span class="img-wrapper img-rounded disp-ib" style="width:36px"><img src="assets/images/avatar/avatar8.jpg" alt=""></span>
          </p>
          <p class="text-muted mb-0 mt-md">6+ People Like This Place</p>
        </div>
        <div class="panel-body bdr-t text-center">
          <a href="" class="btn btn-success">MAKE RESERVATION</a>
        </div>
      </div>
    </div>
    <!--/ reservation widget -->
  </div>
</div>
<!--/ end: container fluid -->