<!-- START account form -->
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Username</label>
    <div class="col-sm-6">
      <input type="text" name="username" class="form-control">
      <span class="help-block mb-0">Enter your username.</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-6">
      <input type="text" name="email" class="form-control" placeholder="you@mail.com">
      <span class="help-block mb-0">Email will not be publicly displayed. <a href="" class="text-primary">Learn more.</a></span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Language</label>
    <div class="col-sm-6">
      <select class="form-control" name="lang">
        <option>Select Language...</option>
        <option value="af">Afrikaans (beta)</option>
        <option value="id">Bahasa Indonesia - Indonesian</option>
        <option value="msa">Bahasa Melayu - Malay</option>
        <option value="ca">català - Catalan (beta)</option>
        <option value="cs">Čeština - Czech</option>
        <option value="da">Dansk - Danish</option>
        <option value="de">Deutsch - German</option>
        <option value="en" selected="">English</option>
        <option value="en-gb">EnglishUK - English UK</option>
        <option value="es">Español - Spanish</option>
        <option value="eu">Euskara - Basque (beta)</option>
        <option value="fil">Filipino</option>
        <option value="fr">français - French</option>
        <option value="gl">Galego - Galician (beta)</option>
        <option value="hr">Hrvatski - Croatian (beta)</option>
        <option value="it">Italiano - Italian</option>
        <option value="xx-lc">LOLCATZ - Lolcat (beta)</option>
      </select>
      <span class="help-block mb-0">Interested in helping translate? Check out the <a href="" class="text-primary">Translation Center.</a></span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Time zone</label>
    <div class="col-sm-6">
      <select class="form-control" name="timezone">
        <option value="Midway Island">(GMT-11:00) Midway Island</option>
        <option value="Samoa">(GMT-11:00) Samoa</option>
        <option value="Hawaii">(GMT-10:00) Hawaii</option>
        <option value="Alaska">(GMT-08:00) Alaska</option>
        <option value="Arizona">(GMT-07:00) Arizona</option>
        <option value="Tijuana">(GMT-07:00) Tijuana</option>
        <option value="Pacific Time (US &amp; Canada)">(GMT-07:00) Pacific Time (US &amp; Canada)</option>
        <option value="Mazatlan">(GMT-06:00) Mazatlan</option>
        <option value="Mountain Time (US &amp; Canada)">(GMT-06:00) Mountain Time (US &amp; Canada)</option>
        <option value="Central America">(GMT-06:00) Central America</option>
        <option value="Chihuahua">(GMT-06:00) Chihuahua</option>
        <option value="Saskatchewan">(GMT-06:00) Saskatchewan</option>
        <option value="Central Time (US &amp; Canada)">(GMT-05:00) Central Time (US &amp; Canada)</option>
        <option value="Mexico City">(GMT-05:00) Mexico City</option>
        <option value="Quito">(GMT-05:00) Quito</option>
        <option value="Bogota">(GMT-05:00) Bogota</option>
      </select>
      <span class="help-block mb-0">Update to your local time</a></span>
    </div>
  </div>

  <hr class="mnr-md mnl-md"><!-- horizontal rule -->

  <div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-6">
      <ul class="list-group bg-white">
        <li class="list-group-item">
          <span class="ai ai-assignment fs-16 pos-t-2 mr-md"></span>Receive email newslatter
          <label class="switch switch-sm switch-success pull-right">
            <input type="checkbox" checked="">
            <span class="switch"></span>
          </label>
        </li>
        <li class="list-group-item">
          <span class="ai ai-cloud-done fs-16 pos-t-2 mr-md"></span>Enable cloud save
          <label class="switch switch-sm switch-success pull-right">
            <input type="checkbox">
            <span class="switch"></span>
          </label>
        </li>
        <li class="list-group-item">
          <span class="ai ai-gps-fixed fs-16 pos-t-2 mr-md"></span>Enable location service
          <label class="switch switch-sm switch-success pull-right">
            <input type="checkbox" checked="">
            <span class="switch"></span>
          </label>
        </li>
      </ul>
    </div>
  </div>

  <hr class="mnr-md mnl-md"><!-- horizontal rule -->

  <div class="form-group mb-0">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Save change</button>
    </div>
  </div>
</form>
<!--/ END account form -->