<!-- start: profile form -->
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Photo</label>
    <div class="col-sm-6">
      <div class="btn-group va-t">
        <span class="img-wrapper img-rounded" style="width:34px">
          <img src="assets/images/avatar/avatar2.jpg" alt="">
        </span>
      </div>
      <div class="btn-group va-t" dropdown>
        <button type="button" class="btn btn-default">Change Photo</button>
        <button type="button" class="btn btn-default dropdown-toggle">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="">Upload photo</a></li>
          <li><a href="">Take photo</a></li>
          <li class="divider"></li>
          <li><a href=""><span class="text-danger">Remove</span></a></li>
        </ul>
      </div>
      <span class="help-block mb-0 mt-0">This photo is your identity on this site</span>
    </div>
  </div>

  <hr class="mnr-md mnl-md"><!-- horizontal rule -->

  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-6">
      <input type="text" name="name" class="form-control">
      <span class="help-block mb-0">Enter your real name, so people you know can recognize you.</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Location</label>
    <div class="col-sm-6">
      <input type="text" name="location" class="form-control">
      <span class="help-block mb-0">Where in the world are you?</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Website</label>
    <div class="col-sm-6">
      <input type="text" name="website" class="form-control" placeholder="http://www.site.com/">
      <span class="help-block mb-0">Have a homepage or a blog? Put the address here.</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Bio</label>
    <div class="col-sm-6">
      <textarea class="form-control" rows="3" name="bio"></textarea>
      <span class="help-block mb-0">About yourself in <strong>160</strong> characters or less.</span>
    </div>
  </div>

  <hr class="mnr-md mnl-md"><!-- horizontal rule -->

  <h4 class="fw-sb mb-lg">Facebook</h4>
  <div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-6">
      <div class="btn-group va-t">
        <span class="img-wrapper img-rounded" style="width:34px">
          <img src="assets/images/avatar/avatar.png" alt="">
        </span>
      </div>
      <a href="" class="btn btn-default va-t">FACEBOOK LOGIN</a>
      <span class="help-block mb-0">to manage your connection with Facebook.</span>
    </div>
  </div>

  <hr class="mnr-md mnl-md"><!-- horizontal rule -->

  <div class="form-group mb-0">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Save change</button>
    </div>
  </div>
</form>
<!--/ end: profile form -->